<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>19/12/09 01:34:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:runner.OmniusLogin_PositiveFlow@67784306]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/12/09 01:34:43</td>   <td>-110</td> <td>&nbsp;</td><td title="&gt;&gt;OmniusLogin_PositiveFlow.setData()[pri:0, instance:runner.OmniusLogin_PositiveFlow@67784306]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/12/09 01:34:43</td>   <td>-103</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.OmniusLogin_PositiveFlow@67784306]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/12/09 01:34:42</td>   <td>-469</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:runner.OmniusLogin_PositiveFlow@67784306]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/12/09 01:34:43</td>   <td>70</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:runner.OmniusLogin_PositiveFlow@67784306]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/12/09 01:34:43</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.OmniusLogin_PositiveFlow@67784306]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
</table>
