<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>19/12/09 12:06:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAndVerifyCollection.CreateCollections(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.omnius.testcases.CreateAndVerifyCollection@6d7b4f4c]">CreateCollections</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:04:53</td>   <td>-68838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:05:17</td>   <td>-45312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:05:45</td>   <td>-17635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:08:02</td>   <td>119704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.omnius.testcases.CreateAndVerifyCollection@6d7b4f4c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:08:39</td>   <td>156708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.omnius.testcases.VerifyCollectionSort@527740a2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:12:14</td>   <td>371294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.omnius.testcases.VerifyFileUpload@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:13:39</td>   <td>456870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.omnius.testcases.VerifyFilesSort@3108bc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:04:27</td>   <td>-94836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:04:54</td>   <td>-68600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:05:17</td>   <td>-45105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:05:45</td>   <td>-17339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.omnius.testcases.CreateAndVerifyCollection@6d7b4f4c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:08:02</td>   <td>119973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.omnius.testcases.VerifyCollectionSort@527740a2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:08:39</td>   <td>156999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.omnius.testcases.VerifyFileUpload@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/09 12:12:14</td>   <td>371551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.omnius.testcases.VerifyFilesSort@3108bc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>19/12/09 12:04:44</td>   <td>-78382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OmniusLogin_PositiveFlow.loginOmniUs(java.lang.String, java.lang.String)[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">loginOmniUs</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/12/09 12:05:09</td>   <td>-53106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OmniusLogin_NegativeFlow.loginOmniUs(java.lang.String, java.lang.String)[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">loginOmniUs</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/12/09 12:05:37</td>   <td>-25625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OmniusLogin_NegativeFlow.loginOmniUs(java.lang.String, java.lang.String)[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">loginOmniUs</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/09 12:04:27</td>   <td>-95581</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/09 12:04:54</td>   <td>-68678</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/09 12:05:45</td>   <td>-17447</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.omnius.testcases.CreateAndVerifyCollection@6d7b4f4c]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/09 12:08:02</td>   <td>119884</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.omnius.testcases.VerifyCollectionSort@527740a2]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/09 12:08:39</td>   <td>156900</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.omnius.testcases.VerifyFileUpload@13a5fe33]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/09 12:12:14</td>   <td>371470</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.omnius.testcases.VerifyFilesSort@3108bc]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/12/09 12:04:26</td>   <td>-95787</td> <td>&nbsp;</td><td title="&gt;&gt;CreateAndVerifyCollection.setData()[pri:0, instance:com.omnius.testcases.CreateAndVerifyCollection@6d7b4f4c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/12/09 12:04:26</td>   <td>-95787</td> <td>&nbsp;</td><td title="&gt;&gt;OmniusLogin_NegativeFlow.setData()[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>19/12/09 12:04:26</td>   <td>-95787</td> <td>&nbsp;</td><td title="&gt;&gt;OmniusLogin_PositiveFlow.setData()[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/12/09 12:04:26</td>   <td>-95787</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyCollectionSort.setData()[pri:0, instance:com.omnius.testcases.VerifyCollectionSort@527740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/12/09 12:04:26</td>   <td>-95787</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyFileUpload.setData()[pri:0, instance:com.omnius.testcases.VerifyFileUpload@13a5fe33]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/12/09 12:04:26</td>   <td>-95786</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyFilesSort.setData()[pri:0, instance:com.omnius.testcases.VerifyFilesSort@3108bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:04:27</td>   <td>-95774</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:04:54</td>   <td>-68679</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:05:45</td>   <td>-17448</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.omnius.testcases.CreateAndVerifyCollection@6d7b4f4c]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:08:02</td>   <td>119883</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.omnius.testcases.VerifyCollectionSort@527740a2]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:08:39</td>   <td>156897</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.omnius.testcases.VerifyFileUpload@13a5fe33]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:12:14</td>   <td>371469</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.omnius.testcases.VerifyFilesSort@3108bc]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/09 12:04:26</td>   <td>-96507</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/09 12:13:39</td>   <td>457086</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:04:54</td>   <td>-68692</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.omnius.testcases.OmniusLogin_PositiveFlow@2286778]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:05:45</td>   <td>-17450</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.omnius.testcases.OmniusLogin_NegativeFlow@4e9ba398]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:08:02</td>   <td>119882</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.omnius.testcases.CreateAndVerifyCollection@6d7b4f4c]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:08:39</td>   <td>156894</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.omnius.testcases.VerifyCollectionSort@527740a2]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:12:14</td>   <td>371468</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.omnius.testcases.VerifyFileUpload@13a5fe33]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/12/09 12:13:39</td>   <td>457022</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.omnius.testcases.VerifyFilesSort@3108bc]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/12/09 12:08:18</td>   <td>135694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyCollectionSort.verifyCollSort(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.omnius.testcases.VerifyCollectionSort@527740a2]">verifyCollSort</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/12/09 12:08:55</td>   <td>172522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyFileUpload.verifyCollSort(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.omnius.testcases.VerifyFileUpload@13a5fe33]">verifyCollSort</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/12/09 12:12:29</td>   <td>386445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyFilesSort.verifyCollSort(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.omnius.testcases.VerifyFilesSort@3108bc]">verifyCollSort</td> 
  <td>main@1468357786</td>   <td></td> </tr>
</table>
